#canvas{
    background: white;
    border: 3px solid black;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(120deg,hotpink, mediumpurple),fixed;

}
