body{
    background: linear-gradient(120deg,blueviolet,blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#senha{
    display: flex;
    flex-direction: row;
}
#login{
    display: flex;
    flex-direction: row;
}
a{
    color: hotpink;
}